//p.240 추가
doctype html
html
    head
        title= title
        link(rel='stylesheet', href = 'stylesheets/styles.css')
        script(src='/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='/public/javascripts/main.js')
    body
        bolck content

